<!DOCTYPE html>
<html>
  <head>
    <title>iTunes Album Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style type="text/css">
      .container {
        max-width: 700px;
        padding-top: 50px;
      }
    </style>
  </head>
  <body>
  <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="#">Search</a></li>
  </ul>

  <div class="jumbotron">
    <h2>iTunes Album Search</h2>
    <form action="/" method="post">
      <input type="text" name="search" placeholder="Enter artist name" value="{{ request.form.search }}">
      <br><br>
      <input type="submit" class="btn btn-primary btn-lg" value="Search">
    </form>
  </div>

  {% if error %}
  <div class="alert alert-warning" role="alert">{{ error }}
  </div>
  {% endif %}

  {% if data %}
  <div class="container">
    <h2>{{ data[0][0] }} albums in iTunes</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Album name</th>
          <th>Price (€)</th>
        </tr>
      </thead>
      <tbody>
        {% for item in data %}
        <tr>
          <td><img src="{{ item[3] }}"></td>
          <td>{{ item[1] }}</td>
          <td>{{ item[2] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
