<!DOCTYPE html>
<html>
  <head>
    <title>My iDevice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 100px;
      }
    </style>
  </head>
  <body>
    <ul class="nav nav-pills">
      <li role="presentation"><a href="/">Search</a></li>
      <li role="presentation" class="active"><a href="#">Info</a></li>
    </ul>

    <div class="container">
      <h2>Device info</h2>
      {% if info %}
      <ul>
        <li>Device name: {{ info.device_name }}</li>
        <li>Server OS version: {{ info.system_version }}</li>
        <li>UUID: {{ info.uuid }}</li>
        <li>Battery level: {{ info.battery_level }}</li>
      </ul>
      {% endif %}
    </div>
    
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>